dj-database-url==0.5.0
Django==2.0.3
gunicorn==19.7.1
psycopg2==2.7.4
whitenoise==3.3.1
django-extensions==2.0.7
requests==2.19.1
django-debug-toolbar
django-debug-panel
pycpfcnpj==1.5

# Async
celery==4.2.0
redis==2.10.6

# Channels
channels==2.1.2
channels-redis==2.2.1
daphne==2.2.0

# Compressor
django-compressor==2.2
django-compressor-toolkit==0.6.0

# Custom app settings
django-appconf==1.0.2
six

# REST
djangorestframework==3.8.2
django-filter==1.1.0
Markdown==2.6.11
djangorestframework-csv==2.1.0
djangorestframework-msgpack==1.0.2
djangorestframework-xml==1.3.0
djangorestframework-yaml==1.0.3
rest-condition==1.0.3

# Social
facebook-sdk==2.0.0

# Storages
django-storages==1.6.6
boto3==1.7.62
