{% extends 'project/base.html' %}
{% load compress %}
{% load staticfiles %}

{% block appjs %}
{% compress js %}
<script type="module" src="{% static 'stats/apps/stats.js' %}"></script>
{% endcompress %}
{% endblock appjs %}

{% block content %}
<script src=//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js>
</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var stats_context = JSON.parse('{{ stats_context | escapejs }}');
</script>

<div id="stats-app"></div>
{% endblock content %}
