{% extends 'project/root.html' %}
{% load compress %}
{% load staticfiles %}

{% block sidebarapp %}
{% compress js %}
<script type="module" src="{% static 'project/apps/sidebar.js' %}"></script>
{% endcompress %}
{% endblock sidebarapp %}

{% block subscriptionapp %}
{% compress js %}
<script type="module" src="{% static 'project/apps/self_subs.js' %}"></script>
{% endcompress %}
{% endblock subscriptionapp %}

{% block root %}

<script type="text/javascript">
    var sidebar_context = JSON.parse('{{ sidebar_context | escapejs }}');
    var user_context = JSON.parse('{{ user_context | escapejs }}');
</script>

<!-- Base subscriptions app element -->
<div id="selfsub-app"></div>

<div id="base">
<div id="sidebar-app"></div>
<div class="content">
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</div>
</div>
{% endblock root %}
