// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

$primary: #791414;

$secondary: #606266;

$login-bg: url("https://i.imgur.com/IxN8nZf.jpg");
