{% extends 'project/base.html' %}
{% load compress %}
{% load staticfiles %}

{% block appjs %}
{% compress js %}
<script type="module" src="{% static 'godmode/apps/admin.js' %}"></script>
{% endcompress %}
{% endblock appjs %}

{% block content %}
<script type="text/javascript" src="{% static 'project/plugins/semantic-ui-calendar/dist/calendar.min.js' %}"
></script>
<link rel="stylesheet" href="{% static 'project/plugins/semantic-ui-calendar/dist/calendar.min.css' %}" />

<script type="text/javascript">
    var admin_context = JSON.parse('{{ admin_context | escapejs }}');
</script>

<div id="admin-app"></div>
{% endblock content %}
