{% extends 'project/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="application"
class="page">

<div class="divided title">Aplicação</div>

<div class="ui stackable page grid">

    <div class="column">

        <div class="ui form">

            <form enctype="multipart/form-data" method="post">{% csrf_token %}
                <div class="subheader">* Obrigatório</div>
                <br>

                <div class="divided title">Informações Básicas</div>

                <div class="three fields">

                    <div class="field {% if form.first_name.errors.as_text %}error{% endif %}">
                        <label>{{ form.first_name.label}}</label>
                        <span style="color: red" class="small">{{ form.first_name.errors.as_text }}
                        </span>{{ form.first_name }}
                    </div>

                    <div class="field {% if form.last_name.errors.as_text %}error{% endif %}">
                        <label>{{ form.last_name.label}}</label>
                        <span style="color: red" class="small">{{ form.last_name.errors.as_text }}
                        </span>{{ form.last_name }}
                    </div>

                    <div class="field {% if form.age.errors.as_text %}error{% endif %}">
                        <label>{{ form.age.label}}</label>
                        <span style="color: red" class="small">{{ form.age.errors.as_text }}
                        </span>{{ form.age }}
                    </div>
                </div>

                <div class="two fields">

                    <div class="field {% if form.email.errors.as_text %}error{% endif %}">
                        <label>{{ form.email.label}}</label>
                        <span style="color: red" class="small">{{ form.email.errors.as_text }}
                        </span>{{ form.email }}
                    </div>

                    <div class="field {% if form.phone.errors.as_text %}error{% endif %}">
                        <label>{{ form.phone.label}}</label>
                        <span style="color: red" class="small">{{ form.phone.errors.as_text }}
                        </span>{{ form.phone }}
                    </div>
                </div>

                <div class="two fields">

                    <div class="field {% if form.gender.errors.as_text %}error{% endif %}">
                        <label>{{ form.gender.label}}</label>
                        <span style="color: red" class="small">{{ form.gender.errors.as_text }}
                        </span>{{ form.gender }}
                    </div>
                    <div class="field {% if form.cpf.errors.as_text %}error{% endif %}">
                        <label>{{ form.cpf.label}}</label>
                        <span style="color: red" class="small">{{ form.cpf.errors.as_text }}
                        </span>{{ form.cpf }}
                    </div>
                </div>

                <br>
                <div class="divided title">Educação</div>

                <div class="two fields">

                    <div class="field {% if form.education.errors.as_text %}error{% endif %}">
                        <label>{{ form.education.label}}</label>
                        <span style="color: red" class="small">{{ form.education.errors.as_text }}
                        </span>
                        <select name="{{ form.education.name }}" value="{{ form.education.value }}" id="{{ form.education.auto_id }}"></select>
                    </div>

                    <div class="field {% if form.enroll_year.errors.as_text %}error{% endif %}">
                        <label>{{ form.enroll_year.label}}</label>
                        <span style="color: red" class="small">{{ form.enroll_year.errors.as_text }}
                        </span>{{ form.enroll_year }}
                    </div>
                </div>

                <div id="education_details" style="display: none;" class="two fields">

                    <div class="field {% if form.school.errors.as_text %}error{% endif %}">
                        <label>{{ form.school.label}}</label>
                        <span style="color: red" class="small">{{ form.school.errors.as_text }}
                        </span>
                        <select name="{{ form.school.name }}" value="{{ form.school.value }}" id="{{ form.school.auto_id }}"></select>
                    </div>

                    <div class="field {% if form.course.errors.as_text %}error{% endif %}">
                        <label>{{ form.course.label}}</label>
                        <span style="color: red" class="small">{{ form.course.errors.as_text }}
                        </span>
                        <select name="{{ form.course.name }}" value="{{ form.course.value }}" id="{{ form.course.auto_id }}"></select>
                    </div>
                </div>

                <br>
                <div class="divided title">Currículo</div>

                <div class="two fields">

                    <div class="field {% if form.cv_type.errors.as_text %}error{% endif %}">
                        <label>{{ form.cv_type.label}}</label>
                        <span style="color: red" class="small">{{ form.cv_type.errors.as_text }}
                        </span>{{ form.cv_type }}
                    </div>

                    <div id="cv_container" class="field {% if form.cv.errors.as_text %}error{% endif %}">
                        <label>{{ form.cv.label | safe}}</label>
                        <span style="color: red" class="small">{{ form.cv.errors.as_text }}
                        </span>
                        <div class="ui input labeled">
                            <div id="cv_label" class="ui label">http://
                            </div>{{ form.cv }}
                        </div>
                    </div>
                    <div id="cv_file_container" style="display: none;" class="field {% if form.file_cv.errors.as_text %}error{% endif %}">
                        <label>{{ form.file_cv.label}}</label>
                        <span style="color: red" class="small">{{ form.file_cv.errors.as_text }}
                        </span>{{ form.file_cv }}
                    </div>
                </div>

                <div class="two fields">

                    <div class="field {% if form.cv2_type.errors.as_text %}error{% endif %}">
                        <label>{{ form.cv2_type.label}}</label>
                        <span style="color: red" class="small">{{ form.cv2_type.errors.as_text }}
                        </span>{{ form.cv2_type }}
                    </div>

                    <div class="field {% if form.cv.errors.as_text %}error{% endif %}">
                        <label>{{ form.cv2.label}}</label>
                        <span style="color: red" class="small">{{ form.cv2.errors.as_text }}
                        </span>

                        <div class="ui input labeled">

                            <div id="cv2_label" class="ui label">http://
                            </div>{{ form.cv2 }}
                        </div>
                    </div>
                </div>

                <br>
                <div class="divided title">Interesses</div>

                <div class="two fields">
                    <div class="field {% if form.dream_company.errors.as_text %}error{% endif %}">
                        <label>{{ form.dream_company.label}}</label>
                        <span style="color: red" class="small">{{ form.dream_company.errors.as_text }}
                        </span>{{ form.dream_company }}
                    </div>

                    <div class="field {% if form.interests.errors.as_text %}error{% endif %}">
                        <label>{{ form.interests.label}}</label>
                        <span style="color: red" class="small">{{ form.interests.errors.as_text }}
                        </span>{{ form.interests }}
                    </div>
                </div>

                <br>
                <div class="divided title">Talento</div>
                <div class="two fields">
                    <div class="field {% if form.referrer.errors.as_text %}error{% endif %}">
                        <label>{{ form.referrer.label}}</label>
                        <span style="color: red" class="small">{{ form.referrer.errors.as_text }}
                        </span>{{ form.referrer }}
                    </div>

                    <div class="field {% if form.first_timer.errors.as_text %}error{% endif %}">
                        <label>{{ form.first_timer.label}}</label>
                            <span style="color: red" class="small">{{ form.first_timer.errors.as_text }}
                            </span>
                        <div class="ui toggle checkbox">
                            {{ form.first_timer }}
                            <label></label>
                        </div>
                    </div>
                </div>

                <br>
                <div class="divided title">Opcionais</div>
                <p>
                    Todos os campos abaixo são opcionais, mas recomendamos que você os preencha pois eles aumentam suas chances de conseguir um estágio/emprego!
                </p>

                <div class="two fields">
                    <div class="field {% if form.country.errors.as_text %}error{% endif %}">
                        <label>{{ form.country.label}}</label>
                        <span style="color: red" class="small">{{ form.country.errors.as_text }}
                        </span>{{ form.country }}
                    </div>

                    <div class="field {% if form.state.errors.as_text %}error{% endif %}">
                        <label>{{ form.state.label}}</label>
                        <span style="color: red" class="small">{{ form.state.errors.as_text }}
                        </span>{{ form.state }}
                    </div>
                </div>

                <div class="three fields">
                    <div class="field {% if form.city.errors.as_text %}error{% endif %}">
                        <label>{{ form.city.label}}</label>
                        <span style="color: red" class="small">{{ form.city.errors.as_text }}
                        </span>{{ form.city }}
                    </div>

                    <div class="field {% if form.can_move.errors.as_text %}error{% endif %}">
                        <label>{{ form.can_move.label}}</label>
                        <span style="color: red" class="small">{{ form.can_move.errors.as_text }}
                        </span>
                        <div class="ui toggle checkbox">
                            {{ form.can_move }}
                            <label></label>
                        </div>
                    </div>

                    <div class="field {% if form.time_slots.errors.as_text %}error{% endif %}">
                        <label>{{ form.time_slots.label}}</label>
                        <span style="color: red" class="small">{{ form.time_slots.errors.as_text }}
                        </span>{{ form.time_slots }}
                    </div>
                </div>

                <div class="field {% if form.extra_courses.errors.as_text %}error{% endif %}">
                    <label>{{ form.extra_courses.label}}</label>
                    <span style="color: red" class="small">{{ form.extra_courses.errors.as_text }}
                    </span>{{ form.extra_courses }}
                </div>

                <div class="two fields">
                    <div class="field {% if form.english_level.errors.as_text %}error{% endif %}">
                        <label>{{ form.english_level.label}}</label>
                        <span style="color: red" class="small">{{ form.english_level.errors.as_text }}
                        </span>{{ form.english_level }}
                    </div>

                    <div class="field {% if form.excel_level.errors.as_text %}error{% endif %}">
                        <label>{{ form.excel_level.label}}</label>
                        <span style="color: red" class="small">{{ form.excel_level.errors.as_text }}
                        </span>{{ form.excel_level }}
                    </div>
                </div>

                <div class="field {% if form.other_languages.errors.as_text %}error{% endif %}">
                    <label>{{ form.other_languages.label}}</label>
                    <span style="color: red" class="small">{{ form.other_languages.errors.as_text }}
                    </span>{{ form.other_languages }}
                </div>

                <br>
                <div class="ui divider"></div>
                <br>


                <div class="field">

                    <button type="submit" class="fluid ui purple button">Submeter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ll = {
        GH: "github.com/",
        WS: "https://",
        LI: "linkedin.com/in/",
        OT: "https://"
    };
    function change_cv_option(cv) {
        if (cv == 0) {
            cv_id_select = "#id_cv_type";
            cv_label_select = "#cv_label";
        } else {
            cv_id_select = "#id_cv2_type";
            cv_label_select = "#cv2_label";
        }
        if (cv == 0) {
            $('#cv_file_container').hide();
            $('#cv_container').show();
        }
        if ($(cv_id_select).val() === "UP" || $(cv_id_select).val() === "Upload") {
            $('#cv_file_container').show();
            $('#cv_container').hide();
        } else if ($(cv_id_select).val() == "") {
            $(cv_label_select)
            .parent()
            .removeClass("labeled");
            $(cv_label_select).removeClass("ui label");
            $(cv_label_select).text("");
        } else {
            $(cv_label_select).addClass("ui label");
            $(cv_label_select)
            .parent()
            .addClass("labeled");
            $(cv_label_select).text(ll[$(cv_id_select).val()]);
        }
    }

    $("#id_cv_type").change(function() {
        change_cv_option(0);
    });
    $("#id_cv2_type").change(function() {
        change_cv_option(1);
    });

    $(document).ready(function() {
        change_cv_option(1);
        change_cv_option(0);
    });

    $('#id_education').addClass('ui search selection dropdown');
    $('#id_school').addClass('ui search selection dropdown');
    $('#id_course').addClass('ui search selection dropdown');
    $('#id_country').addClass('ui search selection dropdown');


    $("#id_gender").dropdown();
    $("#id_education").dropdown({
        allowAdditions: true,
        onChange: function(value, text, $selectedItem) {
            var not_allowed = ['Ensino Fundamental', 'Ensino Médio'];
            if (not_allowed.indexOf(text) === -1) {
                $('#education_details').show();
                return;
            }
            $('#education_details').hide();
            return;
        },
        apiSettings: {
            url: '{% url "application:api:form_options" "education" %}'

        },
        saveRemoteData: false,
        filterRemoteData: true
    });
    $("#id_school").dropdown({
        allowAdditions: true,
        apiSettings: {
            url: '{% url "application:api:form_options" "schools" %}'

        },
        saveRemoteData: false,
        filterRemoteData: true
    });
    $("#id_course").dropdown({
        allowAdditions: true,
        apiSettings: {
            url: '{% url "application:api:form_options" "courses" %}'

        },
        saveRemoteData: false,
        filterRemoteData: true
    });
    $("#id_cv_type").dropdown();
    $("#id_cv2_type").dropdown();
    $("#id_country").dropdown();
    $("#id_english_level").dropdown();
    $("#id_excel_level").dropdown();

    if ("{{ form.school.value }}" != "None")
        $("#id_school").dropdown(
            "set selected",
            "{{ form.school.value }}"
            );
    if ("{{ form.education.value }}" != "None")
        $("#id_education").dropdown(
            "set selected",
            "{{ form.education.value }}"
            );
    if ("{{ form.school.value }}" != "None")
        $("#id_school").dropdown(
            "set selected",
            "{{ form.school.value }}"
            );
    if ("{{ form.course.value }}" != "None") {
        $("#id_course").dropdown(
            "set selected",
            "{{ form.course.value }}"
            );
    }

    $('#id_file_cv').attr("accept", "application/pdf")
</script>
{% endblock %}
